$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-disabled: #cdcdcd;
$color-gradient: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
  linear-gradient(0deg, #211f20, #211f20);
$color-headers: #545454;
$color-paragraph-l: #4c4c4c;
$color-paraghraph-s: #b2b2b2;
$color-modal-window: #000000;

$color-dark-3xl: #292929;
$color-dark-s: #cdcdcd;
$color-light-s: #fafafa;

$content-width: 1200px;
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 375px;
$mobile-width-iphone5: 320px;
