.gradient-background {
  background: $color-gradient;
}
.burger-background {
  background: #292929;
}

.light-background {
  background: $color-light-xl;
}

.dim_background {
  background: $color-light-l;
}
