.how_you_can_help {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
  margin: 0 auto;
  color: $color-headers;
}

.how_you_can_help__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
  letter-spacing: 0.06em;

  @media (max-width: $mobile-width) {
    justify-content: flex-start;
  }

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    max-width: 630px;
    row-gap: 55px;
    column-gap: 60px;
  }
  @media (min-width: $desktop-width) {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 55px;
    max-width: 1026px;
    max-height: 281px;
  }
}
